<h2>Rooms</h2>

{{#each room}}
    <div>
    
        <h3>{{name}}</h3>
        <h4>{{description}}</h4>
        <h4>{{imageUrl}}</h4>
        <h4>{{owner}}</h4> 
        <h4>{{reviews}}</h4>
   </div> 
{{/each}}